<p class="govuk-body">
    If you fail to complete any required post-application tasks within 6 weeks of being contacted, your application may be deemed expired and no longer valid.  If this happens, your organisation will not be added to the Register.
</p>
