@using SFA.DAS.ApplyService.Domain.Apply
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Feedback on your financial health assessment</h2>
        <p class="govuk-body">The outcome of your financial health assessment is: </p>
        <div class="govuk-inset-text app-inset-text--question-answer">
            <p class="govuk-heading-s">@Model.FinancialGrade</p>
            @if (Model.FinancialGrade == FinancialApplicationSelectedGrade.Inadequate)
            {
                <h2 class="govuk-heading-m">Why your financial health assessment is inadequate</h2>
                <p class="govuk-body das-multiline-text">
                    @Model.FinancialExternalComments
                </p>
            }
        </div>
    </div>
</div>
