@using Newtonsoft.Json
@using SFA.DAS.ApplyService.Application.Services
@using SFA.DAS.ApplyService.Domain.Apply
@model string

@{
    var monthField = 0;
    var tableData = JsonConvert.DeserializeObject<TabularData>(Model);
    var sectionTitle = ViewBag.SectionTitle;

    if (tableData?.HeadingTitles != null)
    {
        for (var i = 0; i < tableData.HeadingTitles.Count; i++)
        {
            if (tableData.HeadingTitles[i].ToLower() == "month")
            {
                monthField = i + 1;
                break;
            }
        }
    }
}

@if (tableData != null && tableData.HeadingTitles != null && tableData.DataRows != null)
{
    <div class="question--status">
        @if (!string.IsNullOrEmpty(sectionTitle))
        {
            <h2 class="govuk-heading-s"> @sectionTitle</h2>
        }

        @foreach (var dataRow in tableData.DataRows)
        {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table govuk-!-margin-bottom-9">

            @for (var index = 0; index < dataRow.Columns.Count; index++)
            {
                var heading = string.Empty;
                if (tableData.HeadingTitles.Count >= index)
                {
                    heading = tableData.HeadingTitles[index];
                }

                var column = dataRow.Columns[index];
                if (index + 1 == monthField)
                {
                    column = DateOfBirthFormatter.FormatMonth(column);
                }
               
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@heading</th>
                    <td class="govuk-table__cell">@column</td>
                </tr>
            }
                </table>
        
            </div>
        </div>

        }
    </div>
    
}
