@using Newtonsoft.Json
@using SFA.DAS.ApplyService.Application.Services
@using SFA.DAS.ApplyService.Domain.Apply
@using System.Globalization
@model string

@{
    var monthField = 0;
    var tableData = JsonConvert.DeserializeObject<TabularData>(Model);
    var sectionTitle = ViewBag.SectionTitle;

    if (tableData?.HeadingTitles != null)
    {
        for (var i = 0; i < tableData.HeadingTitles.Count; i++)
        {
            if (tableData.HeadingTitles[i].ToLower() == "month")
            {
                monthField = i + 1;
                break;
            }
        }
    }
}

@if (tableData != null && tableData.HeadingTitles != null && tableData.DataRows != null)
{
    <div class="question--status">
        @if (!string.IsNullOrEmpty(sectionTitle))
        {
            <h2 class="govuk-heading-s"> @sectionTitle</h2>
        }
        
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table govuk-!-margin-bottom-2">
                @for (var index = 0; index < tableData.DataRows.Count; index++)
                {
                    var dataRow = tableData.DataRows[index];
                    /*@*/for (var i = 0; i < dataRow.Columns.Count; i++)
                    {
                        var heading = string.Empty;
                        if (tableData.HeadingTitles.Count >= i)
                        {
                            heading = tableData.HeadingTitles[i];
                        }

                        var column = dataRow.Columns[i];
                        if (i + 1 == monthField)
                        {
                            column = DateTimeFormatInfo.CurrentInfo.GetAbbreviatedMonthName(int.Parse(column));
                        }

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@heading</th>
                            <td class="govuk-table__cell">@column</td>
                        </tr>
                    }
                    @if (index+1 < tableData.DataRows.Count)
                    {
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    }
                }
            </table>
        
        </div>
        </div>
    </div>
    
}
