@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application withdrawn";
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/ApplicationHeaderReadOnly.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel app-panel--muted">
                <h1 class="govuk-panel__title">
                    Application withdrawn
                </h1>
            </div>

            <partial name="~/Views/Roatp/_ApplicationDetailsTable.cshtml" model="@Model" />

            <p class="govuk-body">
                Your application to join the register has been withdrawn at your request.
            </p>
            <h2 class="govuk-heading-m">How to reapply</h2>
            <p class="govuk-body">
                Your withdrawn application does not count towards the 1 application within a 12-month period limit. To reapply, you'll need to <a class="govuk-link govuk-link--no-visited-state" asp-action="" asp-controller="RoatpApplication">start a new application.</a>
            </p>
        </div>
    </div>
</main>