@using SFA.DAS.ApplyService.Domain.Apply
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application successful";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Application/Navigation/_ApplicationHeaderReadOnly.cshtml" />
}
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel app-panel--success">
                <h1 class="govuk-panel__title">
                    Application successful
                </h1>
            </div>

            <partial name="~/Views/Roatp/_ApplicationDetailsTable.cshtml" model="@Model" />

            <p class="govuk-body">
                Your organisation has successfully passed the reapplication to be on the register for apprenticeship training providers (RoATP).
            </p>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">Feedback on your financial health assessment</h2>
                    <p class="govuk-body">The outcome of your financial health assessment is: </p>
                    <div class="govuk-inset-text app-inset-text--question-answer">
                        <p class="govuk-heading-s">@Model.FinancialGrade</p>
                        @if (Model.FinancialGrade == FinancialApplicationSelectedGrade.Inadequate)
                        {
                        <h2 class="govuk-heading-m">Why your financial health assessment is inadequate</h2>
                        <p>
                            @Model.FinancialExternalComments
                        </p>
                        }
                    </div>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                Your organisation will remain on the register.
            </p>

            <p class="govuk-body">
                If your organisation has any post-application (on-boarding) tasks to complete,
                you'll receive an email within 5 working days from the 'Delivery Support team - Market Entry and Operation', explaining how to do this.

            </p>
            <p class="govuk-body">
                If you fail to complete any required post-application tasks within 6 weeks of being contacted, your application may be deemed expired and no longer valid.  If this happens, your organisation will not be added to the Register.
            </p>
            <p class="govuk-body">
                <a href="https://www.gov.uk/guidance/apprenticeship-funding-rules" target="_blank">Review the latest apprenticeship funding rules</a>
            </p>

            <p class="govuk-body">
                A <a href="https://www.gov.uk/government/publications/provider-guide-to-delivering-high-quality-apprenticeships" target="_blank">new guide for training providers</a> is available online. It gives step-by-step advice on how to deliver high quality apprenticeships and is an essential read for all providers.
            </p>
            <p class="govuk-body">
            As well as setting out the minimum requirements for newer providers, the guide supports experienced providers by highlighting good practice and continuous improvement. It also links to detailed guidance on specific topics such as off the job training and end point assessment. 
                </p>

            <h2 class="govuk-heading-m">What you agreed to</h2>
            <p class="govuk-body">
                In the application, you confirmed your organisation will follow the <a href="https://www.gov.uk/government/publications/conditions-of-acceptance-for-apprenticeship-training-providers" target="_blank">Conditions of Acceptance</a> for being on the register. If you do not follow them, you may be removed from the register.
            </p>
            <h2 class="govuk-heading-m">How to contact us</h2>
            <p class="govuk-body">
                You can contact the Manage apprenticeships service helpdesk on:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                    <li>08000 150 600</li>
                    <li><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
                </ul>
            </p>
        </div>
    </div>
</main>