@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application complete";
    Layout = "_Layout";
}

<nav>
    <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">
        <li class="roatp__navigation-item roatp__navigation-item--signout">
            <a class="govuk-link govuk-link--no-visited-state" asp-action="SignOut" asp-controller="Users">Save and sign out</a>
        </li>
    </ul>
</nav>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Application complete
                </h1>
                <div class="govuk-panel__body">
                    Your reference number<br>
                    <strong>@Model.ApplicationReference</strong>
                </div>
            </div>

            <p class="govuk-body">
                We have sent you a confirmation email.
            </p>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                There are 3 RoATP assessment teams that will assess your application.
            </p>                
            <p class="govuk-body">
                They are:
            </p>                
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    the gateway team - they assess your organisation, the people in your organisation and criminal and compliance checks
                </li>
                <li>
                    the financial health assessment team - they assess your organisation's financial evidence
                </li>
                <li>
                    the assessor team - they assess how ready your organisation is in protecting apprentices, planning, delivering and evaluating apprenticeship training
                </li>
            </ul>
            <p class="govuk-body">
                You'll need to allow at least 12 weeks for them to assess your application.
            </p>
            <p class="govuk-body">
                Once they've assessed your application, your organisation will receive an overall outcome, a financial health grade and next steps.
            </p>
            <p class="govuk-body">
                If your answers or file uploads are unclear, we may ask for clarification. You must reply within 5 working days or we may fail your application.
            </p>
            <p class="govuk-body">
                We will send all communication about this application to <span class="govuk-!-font-weight-bold">@Model.EmailAddress</span>.
            </p>
            <p class="govuk-body">
                If you have any questions, want to make a change or withdraw your application, email <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a> or call 08000 150 600.
            </p>
            <p class="govuk-body">
                For more information, you can <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb" class="govuk-link" target="_blank" rel="noreferrer noopener">read our help articles for training providers (opens in a new window or tab)</a>.
            </p>
            <p class="govuk-body">
                As a new apprenticeship training provider, your organisation may receive an inspection by Ofsted within the first 3 years of receiving funding from ESFA.
            </p>
            <p class="govuk-body">To prepare for this, evaluate your organisation against:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li>
                    the <a href="https://www.gov.uk/government/publications/education-inspection-framework" class="govuk-link" target="_blank" rel="noreferrer noopener">Education Inspection Framework (opens in a new window or tab)</a>
                </li>
                <li>
                    the <a href="https://www.gov.uk/government/publications/further-education-and-skills-inspection-handbook-eif" class="govuk-link" target="_blank" rel="noreferrer noopener">Further Education and Skills Inspection Handbook (opens in a new window or tab)</a>
                </li>
            </ul>
            <p class="govuk-body">
                <a href="https://www.smartsurvey.co.uk/s/UDD7V/" class="govuk-link" target="_blank" rel="noreferrer noopener">What did you think of this service?</a> (takes 30 seconds)
            </p>
        </div>
    </div>
</main>