@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application overview";
    Layout = "_Layout";
}

<div class="govuk-phase-banner govuk-width-container roatp__navigation">
    <nav>
        <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">
            <li class="roatp__navigation-item roatp__navigation-signout">
                <a class="govuk-header__link" href="@Url.Action("SignOut", "Users")">Save and sign out</a>
            </li>
        </ul>
    </nav>
</div>

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Application submitted
                    </h1>
                    <div class="govuk-panel__body">
                        Your reference number<br>
                        <strong>@Model.ApplicationReference</strong>
                    </div>
                </div>

                <p class="govuk-body">
                    We have sent you a confirmation email.
                </p>

                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">
                    We have sent your application to the following RoATP application assessment teams:
                </p>                
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        gateway team - they assess your organisation, the people involved in your organisation and criminal and compliance checks
                    </li>
                    <li>
                        financial health assessment team - they assess your organisation's financial evidence
                    </li>
                    <li>
                        assessor team - they assess the remaining application answers, policies and processes
                    </li>
                </ul>
                <p class="govuk-body">
                    If your application answers are unclear, we may ask for further information. You must reply within 5 working days or we may withdraw your application.
                </p>
                <p class="govuk-body">
                    You will need to allow at least 12 weeks for us to process your application. It may take longer because this is a private beta service. We will send you an email when there's an update with your application.
                </p>
                <p class="govuk-body">
                    Once your application has been assessed, your organisation will receive an outcome, a financial health grade and next steps.
                </p>

                <p class="govuk-body">
                    Find out more about how your organisation is assessed for <a href="https://www.gov.uk/government/publications/esfa-financial-health-assessment" target="_blank" class="govuk-link">financial health (opens in a new window or tab)</a>.
                </p>
                <p class="govuk-body">
                    If you want to know more about how the teams currently assess applications, how outcomes and financial health grades are given and next steps you can <a href="https://www.gov.uk/guidance/application-guidance-for-the-register-of-apprenticeship-training-providers-version-3-august-2019" target="_blank" class="govuk-link">read 'section 7 what happens next' (opens in a new window or tab)</a>. Some processes may differ, as the guidance is based on the current Bravo service.
                </p>
                <p class="govuk-body">
                    If you have any questions, want to make a change or withdraw your application, email <a href="mailto:roatp.support@education.gov.uk" class="govuk-link">roatp.support@education.gov.uk</a>.
                </p>

                <p class="govuk-body">
                    <a href="https://www.smartsurvey.co.uk/s/UDD7V/" target="_blank" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
                </p>
            </div>
        </div>
    </main>

</div>