@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application withdrawn";
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/ApplicationHeaderReadOnly.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel app-panel--muted">
                <h1 class="govuk-panel__title">
                    Application withdrawn
                </h1>
            </div>

            <partial name="~/Views/Roatp/_ApplicationDetailsTable.cshtml" model="@Model" />

            <p class="govuk-body">
                Your application to join the register has been withdrawn at your request.
            </p>
            <p class="govuk-body">
                Contact <a href="mailto:RoATP.MAILBOX@education.gov.uk">RoATP.MAILBOX@education.gov.uk</a> to arrange a new time slot. You will be re-invited to apply.
            </p>
        </div>
    </div>
</main>