<nav>
    <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">
        <li class="roatp__navigation-item">
            <a class="govuk-link govuk-link--no-visited-state" href="@Url.Action("TaskList", "RoatpApplication", new { Model.ApplicationId })">Application overview</a>
        </li>
        <li class="roatp__navigation-item roatp__navigation-item--signout">
            <a class="govuk-link govuk-link--no-visited-state" href="@Url.Action("SignOut", "Users")">Save and sign out</a>
        </li>
    </ul>
</nav>