@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application rejected";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Application/Navigation/_ApplicationHeaderReadOnly.cshtml" />
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
            <div class="govuk-panel app-panel--warning">
                <h1 class="govuk-panel__title">
                    Application rejected
                </h1>
            </div>

            <partial name="~/Views/Roatp/_ApplicationDetailsTable.cshtml" model="@Model" />

            <h1 class="govuk-heading-l">Why your application was rejected</h1>
            <p class="govuk-body das-multiline-text">
                @Model.GatewayExternalComments
            </p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    We recommend you save this application feedback before you request a new invitation, as it will no longer be available.
                </strong>
            </div>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                A rejected application is not the same as a failed application and does not count towards your 1 application within a 12-month period.
            </p>
            <p class="govuk-body">
                You can submit a new application to join the RoATP. You will need to request a new invitation to apply.
            </p>
            <p class="govuk-body">
                The new application must be made using the same account you are signed into now.
            </p>
            <form method="get" asp-action="RequestNewInvitation"  asp-controller="RoatpAppeals" asp-route-applicationId="@Model.ApplicationId" >
                <button class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Request new invitation
                </button>
            </form>

            <h1 class="govuk-heading-m">How to contact us</h1>
            <p class="govuk-body">
                If you have any questions, you can contact the Manage apprenticeships service helpdesk on:
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
                    <li>08000 150 600</li>
                </ul>
            </p>
        </div>
    </div>
</main>