@{
    ViewBag.Title = "Application appeal";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel app-panel--error">
                <h1 class="govuk-panel__title">
                    Make an appeal HOLDING PAGE
                </h1>
            </div>

        </div>
    </div>
</main>