@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ChangeUkprnViewModel

@{
    var title = $"Change UKPRN";
    ViewBag.Title = title;
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/ApplicationHeader.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummaryPartial" />
            <h1 class="govuk-heading-xl">@title</h1>
            <p class="govuk-body">
                If you change your UKPRN, you will have to restart your application. This is because the information we get from UKRLP determines which questions we ask you.
            </p>
            <p class="govuk-body">
                If you do not provide the correct UKPRN, we may fail your application.
            </p>
            
            <p class="govuk-body">
                <h3 class="govuk-heading-m">
                    Are you sure you want to change your UKPRN?
                </h3>
            </p>
            
            <form class="js-disable-on-submit" method="post" asp-action="ChangeUkprn" asp-controller="RoatpApplication" novalidate>
                <input type="hidden" asp-for="ApplicationId" />

                <div class="govuk-form-group @(!ViewContext.ModelState.IsValid ? "govuk-form-group--error" : "")" sfa-validation-for="Confirmed" sfa-validationerror-class="form-group-error">
                    <span class="govuk-error-message">
                        @Html.ValidationMessageFor(m => m.Confirmed, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.Confirmed) })
                    </span>

                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input asp-for="Confirmed"
                                       class="govuk-radios__input"
                                       id="Confirmed"
                                       name="Confirmed"
                                       type="radio"
                                       value="true"
                                       sfa-validation-for="Confirmed"
                                       sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="Confirmed">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="Confirmed"
                                       class="govuk-radios__input"
                                       id="Confirmed-No"
                                       name="Confirmed"
                                       type="radio"
                                       value="false"
                                       sfa-validation-for="Confirmed"
                                       sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="Confirmed-No">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <input type="submit" class="govuk-button" value="Save and continue" />
            </form>
        </div>
    </div>
</main>