@model SFA.DAS.ApplyService.Domain.CharityCommission.CharityCommissionSummary

<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Charity Number</p>
<p class="govuk-body">@Model.CharityNumber</p>

@if (Model.IncorporatedOn.HasValue)
{
<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Incorporation date</p>
<p class="govuk-body">@Model.IncorporatedOn.Value.ToString("dd MMM yyyy")</p>
}

@if (Model.Trustees.ToList().Count > 0)
{
<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Trustees</p>
<table class="govuk-body">
    @foreach (var trustee in Model.Trustees)
    {
        <tr>
            <td style="padding-right: 50px;">@trustee.Name</td>
            <td>@trustee.Id</td>              
        </tr>
    }
</table>
}