@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Feedback added";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Application/Navigation/_ApplicationHeaderReadOnly.cshtml" />
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel app-panel--warning">
                <h1 class="govuk-panel__title">
                    FEEDBACK ADDED - HOLDING PAGE
                </h1>
            </div>

            <partial name="~/Views/Roatp/_ApplicationDetailsTable.cshtml" model="@Model" />

            <h1 class="govuk-heading-l">HEADING FOR COMMENTS</h1>
            <p class="govuk-body">
                COMMENTS
            </p>

            <h2 class="govuk-heading-m">How to reapply</h2>
            <p class="govuk-body">
                HOLDING PAGE
            </p>
        </div>
    </div>
</main>