@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.EmployerProviderContinueApplicationViewModel

@{
    ViewBag.Title = "Your organisation cannot apply to join the RoATP as an employer provider";
    Layout = "_Layout";

    bool showErrors = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0;
}

@if (Model.ApplicationId != null && Model.ApplicationId != Guid.Empty)
{
    <partial name="~/Views/Roatp/ApplicationHeader.cshtml" />
}
else
{
    <partial name="~/Views/Roatp/PreambleHeader.cshtml" />
}

@*
<form asp-controller="RoatpApplicationPreamble" asp-action="ConfirmLevyStatus" method="get" name="backForm">
    <input type="hidden" asp-for="LevyPayingEmployer" />
    <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
</form>
*@

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="ContinueWithApplication"></a></li>
                        </ul>
                    </div>
                </div>
            }
            <h1 class="govuk-heading-xl">Your organisation cannot apply to join the RoATP as an employer provider </h1>
            <p class="govuk-body">This is because your organisation is not a levy-paying employer.</p>
            <p class="govuk-body">Your organisation can still apply to join the RoATP as either a main or supporting provider.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" asp-action="ConfirmNonLevyContinue" asp-controller="RoatpApplicationPreamble">
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="SequenceId" />
                <input type="hidden" asp-for="SectionId" />
                <input type="hidden" asp-for="PageId" />

                <div class="govuk-form-group @(showErrors ? "govuk-form-group--error" : "")" sfa-validation-for="ContinueWithApplication">
                    @if (showErrors)
                    {
                        <span class="govuk-error-message">
                            @Html.Raw(Model.ErrorMessages.FirstOrDefault(x => x.Field == "ContinueWithApplication")?.ErrorMessage)
                        </span>
                    }
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Do you want to continue with this application?
                        </legend>

                        <div class="govuk-radios">

                            <div class="govuk-radios__item">

                                <input asp-for="ContinueWithApplication" class="govuk-radios__input" id="ContinueWithApplication-Yes"
                                        name="ContinueWithApplication" type="radio" value="Y"
                                        sfa-validation-for="ContinueWithApplication" sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="ContinueWithApplication-Yes">
                                    Yes
                                </label>

                            </div>

                            <div class="govuk-radios__item">

                                <input asp-for="ContinueWithApplication" class="govuk-radios__input" id="ContinueWithApplication-No"
                                        name="ContinueWithApplication" type="radio" value="N"
                                        sfa-validation-for="ContinueWithApplication" sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="ContinueWithApplication-No">
                                    No
                                </label>

                            </div>

                        </div>
                    </fieldset>
                </div>
                <input type="submit" class="govuk-button" value="Save and continue" />
            </form>
            <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
        </div>
    </div>
</main>