@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.OneInTwelveMonthsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/PreambleHeader.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummaryPartial" />
            <h1 class="govuk-heading-xl">@Model.Title</h1>
            <p class="govuk-body">Do not include any applications that were rejected or withdrawn.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" asp-action="OneInTwelveMonths" asp-controller="RoatpApplicationPreamble" novalidate>
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="SequenceId" />
                <input type="hidden" asp-for="SectionId" />
                <input type="hidden" asp-for="PageId" />

                <div class="govuk-form-group @(!ViewContext.ModelState.IsValid ? "govuk-form-group--error" : "")" sfa-anyvalidationerror-class="form-group-error">
                    <span class="govuk-error-message">
                        @Html.ValidationMessageFor(m => m.HasOneInTwelveMonths, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.HasOneInTwelveMonths) })
                    </span>

                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input asp-for="HasOneInTwelveMonths" class="govuk-radios__input" type="radio" value="true">
                                <label asp-for="HasOneInTwelveMonths" class="govuk-label govuk-radios__label">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="HasOneInTwelveMonths" class="govuk-radios__input" id="HasOneInTwelveMonths-No" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="HasOneInTwelveMonths-No">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Save and continue
                </button>

            </form>
            <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
        </div>
    </div>
</main>
