<div class="govuk-phase-banner govuk-width-container">
    <nav>
        <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">
            <li class="roatp__navigation-item roatp__navigation-item--inactive">
                <span class="govuk-header__link">Application overview</span>
            </li>
        </ul>
    </nav>
</div>