@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application complete";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Application/Navigation/_ApplicationHeaderReadOnly.cshtml" />
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5">
                <h1 class="govuk-panel__title">
                    Request new invitation
                </h1>
                <div class="govuk-panel__body">
                    <strong>HOLDING PAGE</strong>
                </div>
            </div>
        </div>
    </div>
</main>