@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.SelectApplicationRouteViewModel

@{
    ViewBag.Title = "Select application route";
    Layout = "_Layout";

    bool showErrors = !ViewData.ModelState.IsValid;
}

@if (showErrors)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li><a sfa-validation-for="ApplicationRouteId"></a></li>
            </ul>
        </div>
    </div>
}

<div class="govuk-width-container">
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Choose your organisation's provider route</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-action="EnterApplicationUkprn" asp-controller="RoatpApplicationPreamble">

                    <div class="govuk-form-group @(showErrors ? "govuk-form-group--error" : "")" sfa-validation-for="ApplicationRouteId" sfa-validationerror-class="govuk-error-message">
                        
                        @if (showErrors)
                        {
                            <span class="govuk-error-message" data-valmsg-for="ApplicationRouteId" data-valmsg-replace="true">
                                Select your training provider route
                            </span>
                        }

                        <fieldset class="govuk-fieldset">

                            <div class="govuk-radios">

                                @foreach (var applicationRoute in Model.ApplicationRoutes)
                                {
                                    <div class="govuk-radios__item">

                                        <input asp-for="ApplicationRouteId" class="govuk-radios__input" id="route-@applicationRoute.Id"
                                               name="ApplicationRouteId" type="radio" value="@applicationRoute.Id" aria-describedby="route-@applicationRoute.Id-hint"
                                               sfa-validation-for="ApplicationRouteId" sfa-validationerror-class="form-control-error">
                                        <label class="govuk-label govuk-radios__label" for="route-@applicationRoute.Id">
                                            @applicationRoute.RouteName
                                        </label>
                                        <span class="govuk-hint govuk-radios__hint" id="route-@applicationRoute.Id-hint">
                                            @applicationRoute.Description
                                        </span>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-grid-row">
                        <input type="submit" class="govuk-button" value="Save and continue" />
                    </div>
                    <div class="govuk-grid-row">
                        <a class="govuk-link" asp-controller="Users" asp-action="SignOut">Save and sign out</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>


