@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.SubmitApplicationViewModel

@{
    var title = $"Submit application on behalf of {Model.OrganisationName}";
    ViewBag.Title = title;
    Layout = "_Layout";

    bool showErrors = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0;
}

<partial name="~/Views/Roatp/ApplicationHeader.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (showErrors)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="ConfirmSubmitApplication"></a></li>
                            <li><a sfa-validation-for="ConfirmFurtherInfoSubmitApplication"></a></li>
                            <li><a sfa-validation-for="ConfirmFurtherCommunicationSubmitApplication"></a></li>
                        </ul>
                    </div>
                </div>
            }

            <span class="govuk-caption-l">Submit application</span>
            <h1 class="govuk-heading-xl">@title</h1>

            <p class="govuk-body">
                Before you submit your application, you must check that all of your answers and file uploads are correct.
            </p>
            <p class="govuk-body">
                You can check your answers and file uploads by going into each section on your <a asp-action="TaskList" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId">application overview</a>.
            </p>
            <p class="govuk-body">
                You will not be able to view them once you submit your application.
            </p>
            <p class="govuk-body">
                If your answers or file uploads are unclear, we may ask for clarification. If they are misleading or inaccurate, we may fail your application.
            </p>
            <p class="govuk-body">
                We will send all communication about this application to <span class="govuk-!-font-weight-bold">@Model.EmailAddress</span>.
            </p>
            <p class="govuk-body">
                This includes:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li>clarification requests on answers or file uploads</li>
                <li>overall outcome of the application</li>
                <li>general and post application queries</li>
            </ul>

            <form class="js-disable-on-submit" method="post" asp-action="ConfirmSubmitApplication" asp-controller="RoatpApplication">
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="OrganisationName" />
                <input type="hidden" asp-for="EmailAddress" />
                <div class="govuk-form-group" sfa-validation-for="ConfirmSubmitApplication" sfa-validationerror-class="govuk-form-group--error">
                    <span class="govuk-error-message" asp-validation-for="ConfirmSubmitApplication"></span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" type="checkbox" asp-for="ConfirmSubmitApplication" />
                            <label class="govuk-label govuk-checkboxes__label" asp-for="ConfirmSubmitApplication">
                                I confirm that all my answers and file uploads are true and accurate to the best of my knowledge.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="govuk-form-group" sfa-validation-for="ConfirmFurtherInfoSubmitApplication" sfa-validationerror-class="govuk-form-group--error">
                    <span class="govuk-error-message" asp-validation-for="ConfirmFurtherInfoSubmitApplication"></span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" type="checkbox" asp-for="ConfirmFurtherInfoSubmitApplication" />
                            <label class="govuk-label govuk-checkboxes__label" asp-for="ConfirmFurtherInfoSubmitApplication">
                                I understand that if I do not reply to a clarification within 5 working days, my application may fail.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="govuk-form-group" sfa-validation-for="ConfirmFurtherCommunicationSubmitApplication" sfa-validationerror-class="govuk-form-group--error">
                    <span class="govuk-error-message" asp-validation-for="ConfirmFurtherCommunicationSubmitApplication"></span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" type="checkbox" asp-for="ConfirmFurtherCommunicationSubmitApplication" />
                            <label class="govuk-label govuk-checkboxes__label" asp-for="ConfirmFurtherCommunicationSubmitApplication">
                                I understand that all communication about this application will be sent to <span class="govuk-!-font-weight-bold">@Model.EmailAddress</span>.
                            </label>
                        </div>
                    </div>
                </div>

                <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Submit application
                </button>
            </form>

        </div>
    </div>
</main>