@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.TaskList2ViewModel

@{
    ViewBag.Title = "Application overview";
    Layout = "_Layout";

}

<partial name="~/Views/Roatp/ApplicationHeader.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <partial name="TaskList/ApplicationSummary.cshtml" model="@Model.ApplicationSummaryViewModel" />

    
</main>

