@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ConditionsOfAcceptanceViewModel

@{
    ViewBag.Title = "You do not accept the terms and conditions of making an application";
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/PreambleHeader.cshtml" />

@*
<form asp-controller="RoatpApplicationPreamble" asp-action="TermsAndConditions" method="get" name="backForm">
    <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
</form>
*@


@*<a class="govuk-back-link" asp-action="TermsAndConditions" asp-controller="RoatpApplicationPreamble" asp-route-applicationId="@Model.ApplicationId" asp-route-applicationRouteId="@Model.ApplicationRouteId">Back</a>*@


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">You do not accept the conditions of acceptance for the RoATP</h1>
            <p class="govuk-body">This means you or your organisation cannot make an application to join the RoATP.</p>
            <p class="govuk-body"><a href="https://www.gov.uk" class="govuk-link">Back to GOV.UK</a></p>
        </div>
    </div>
</main>

