@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.UkprnSearchResultsViewModel

@{
    ViewBag.Title = "UKPRN not found";
    Layout = "_Layout";
}

@{ await Html.RenderPartialAsync("~/Views/Roatp/PreambleHeader.cshtml"); }

<div class="grid-row">
    <form asp-controller="RoatpApplicationPreamble" asp-action="EnterApplicationUkprn" method="get" name="backForm">
        <input type="hidden" asp-for="UKPRN" />
        <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
    </form>
</div>

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-controller="RoatpApplicationPreamble" asp-action="EnterApplicationUkprn">
                    <h1 class="govuk-heading-l">UKPRN @Model.UKPRN not found</h1>
                    <p class="govuk-body">This is because it either:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>does not exist</li>
                        <li>is inactive on the UK Register of Learning Providers</li>
                    </ul>
                    <p class="govuk-body">
                        If your organisation's UKPRN is inactive, contact the UKRLP helpdesk on 0345 202 1600 or <a class="govuk-link" href="mailto:helpdesk@ukrlp.co.uk">helpdesk@ukrlp.co.uk</a>.
                    </p>
                    <input type="hidden" asp-for="UKPRN" />
                    <p class="govuk-body">
                        <a class="govuk-link" asp-action="EnterApplicationUkprn" asp-controller="RoatpApplicationPreamble">Search for another UKRPN</a>
                    </p>
                </form>
            </div>
        </div>
    </main>
</div>