@{
    ViewBag.Title = "Declaration";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Declaration
            </h1>

            <p class="govuk-body">By starting the application, you confirm that you have read the <a class="govuk-link" target="_blank" href="https://www.gov.uk/guidance/register-of-end-point-assessment-organisations#how-to-apply-to-the-register-of-end-point-assessment-organisations">conditions of acceptance</a> for organisations on the register of end-point assessment organisations.</p>
            <p class="govuk-body">Failure to operate within these conditions may lead to your suspension or removal from the register.</p>

            <form asp-action="StartApplication" asp-controller="Application" method="post">
                <button class="govuk-button" type="submit">Accept and continue</button>
            </form>
        </div>
    </div>
</main>