@model List<SFA.DAS.ApplyService.Domain.Entities.Entity>

@{
    ViewBag.Title = "title";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Signed in</h1>
            
            <h2>Applications</h2>
            <ul class="govuk-list govuk-list--number">
                @foreach (var application in Model)
                {
                    <li><a href="@Url.Action("Sequences","Application", new {applicationId = application.Id})">@application.Id</a></li>
                }
            </ul>
        </div>
    </div>
</main>