@model SFA.DAS.ApplyService.Web.ViewModels.SubmittedViewModel
@{
    ViewBag.Title = "Not submitted";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Your application has not been submitted
            </h1>

            <p class="govuk-body">This is because an application has already been submitted for your organisation.</p>

            <p class="govuk-body">Contact us if you think this is wrong.</p>

            <p class="govuk-body">
                <a href="@Model.FeedbackUrl" target="_blank" class="govuk-link">What do you think of this service?</a>
            </p>
        </div>
    </div>
</main>