@model Guid

@{
    ViewBag.Title = "Apply for a standard";
    Layout = "_Layout";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Apply for a standard
            </h1>

            <p class="govuk-body">The first part of your application to join the Register of end-point assessment organisations has been approved.</p>

            <p class="govuk-body">You can now apply to assess a Standard</p>

            <a href="@Url.Action("Search", "Standard", new {applicationId = Model})" class="govuk-button">
                Start
            </a>
        </div>
    </div>
</main>