@model Guid

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Stage 2 Intro
            </h1>

            <p class="govuk-body">Stage 1 has been approved.</p>

            <p class="govuk-body">You can now apply for a Standard..........</p>

            <a href="@Url.Action("Search", "Standard", new {applicationId = Model})" class="govuk-button">
                Apply for Standard
            </a>
        </div>
    </div>
</main>