@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Application submitted</h1>
                <p class="das-user-panel__content">Reference number xxxxxx</p>
            </div>


            <h2 class="govuk-heading-m">What happens next?</h2>

            <p class="govuk-body">We will review your application and let you know the outcome within the next [XX] weeks.</p>


            <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>
            <p>
                <a href="../index">Return to scenario overview</a>
            </p>
            
        </div>
        
    </div>
    
</main>