@model SFA.DAS.ApplyService.Web.ViewModels.SubmittedViewModel
@{
    ViewBag.Title = "Application submitted";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Application submitted</h1>
                <div class="govuk-panel__body">
                    Reference number
                    <br /><strong>@Model.ReferenceNumber</strong>
                </div>
            </div>
            
            <p class="govuk-body">We have sent you a confirmation email.</p>

            <h3 class="govuk-heading-m">What happens next</h3>

            <p class="govuk-body">We will review your application and let you know the outcome.</p>

            <p class="govuk-body">
                <a href="@Model.FeedbackUrl" target="_blank">What did you think of this service?</a>
            </p>
            <p class="govuk-body">
                <a asp-action="Applications" asp-controller="Application">Return to application overview</a>
            </p>
        </div>
    </div>
</main>