@using SFA.DAS.ApplyService.Web.Extensions

@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.Appeals.AppealSuccessfulViewModel

@{
    ViewBag.Title = "Appeal successful";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Appeals/Navigation/_AppealSubmittedHeader.cshtml" />
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel app-panel--success">
                <h1 class="govuk-panel__title">
                    Appeal successful
                </h1>
            </div>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Appeal submitted date</dt>
                    <dd class="govuk-summary-list__value">@Model.AppealSubmittedDate.ToSfaShortDateString()</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Appeal determined  date</dt>
                    <dd class="govuk-summary-list__value">@Model.AppealDeterminedDate.ToSfaShortDateString()</dd>
                </div>
            </dl>

            <p class="govuk-body">
                Your appeal against the outcome of your application to be on the APAR has been successful.
            </p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                Your organisation will remain on the register.
            </p>
            <p class="govuk-body">
                If your organisation has any post-application (on-boarding) tasks to complete,
                you'll receive an email within 5 working days from the 'Delivery Support team - Market Entry and Operation', explaining how to do this.
            </p>
            <partial name="~/Views/Roatp/_FailureWarning.cshtml" />

            <partial name="~/Views/Roatp/_ApplicationApprovedGuidelinesContactDetails.cshtml" />
        </div>
    </div>
</main>