@using SFA.DAS.ApplyService.Web.ViewModels.Roatp.Appeals;

@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.Appeals.GroundsOfAppealViewModel

@{
    ViewBag.Title = "Tell us about the grounds for your appeal";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Appeals/Navigation/_ApplicationHeader.cshtml" />
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummaryPartial" />
            <h1 class="govuk-heading-l">Tell us about the grounds for your appeal</h1>
            <p class="govuk-body">
                The ESFA will not consider any additional information you provide that was not included in your original application.
            </p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Your answer will not be saved if you leave this page before you submit your appeal
                </strong>
            </div>
            <p class="govuk-body">
                <a id="overview" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-3" target="_blank" asp-action="Tasklist" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId">View your Application overview page (opens in new tab)</a>
            </p>
            <form method="post" enctype="multipart/form-data" asp-action="GroundsOfAppeal" asp-controller="RoatpAppeals" novalidate>
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="AppealOnPolicyOrProcesses" />
                <input type="hidden" asp-for="AppealOnEvidenceSubmitted" />
    
                @if (Model.AppealOnPolicyOrProcesses)
                {
                    <div class="govuk-character-count govuk-!-margin-bottom-6" data-module="govuk-character-count" data-maxlength="10000">
                        <div class="govuk-form-group" sfa-validation-for="HowFailedOnPolicyOrProcesses" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label govuk-!-font-weight-bold" asp-for="HowFailedOnPolicyOrProcesses">
                                How did the ESFA fail to follow its own policy or processes?
                            </label>
                            <span class="govuk-error-message" asp-validation-for="HowFailedOnPolicyOrProcesses"></span>
                            <textarea class="govuk-textarea govuk-js-character-count" asp-for="HowFailedOnPolicyOrProcesses"
                                        sfa-validation-for="HowFailedOnPolicyOrProcesses" sfa-validationerror-class="govuk-textarea--error"
                                        rows="5" aria-describedby="HowFailedOnPolicyOrProcesses-info"></textarea>
                        </div>
                        <span id="HowFailedOnPolicyOrProcesses-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 10000 characters
                        </span>
                    </div>
                }

                @if (Model.AppealOnEvidenceSubmitted)
                {
                    <div class="govuk-character-count govuk-!-margin-bottom-6" data-module="govuk-character-count" data-maxlength="10000">
                        <div class="govuk-form-group" sfa-validation-for="HowFailedOnEvidenceSubmitted" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label govuk-!-font-weight-bold" asp-for="HowFailedOnEvidenceSubmitted" for="gethelp">
                                How did the ESFA fail to understand or recognise the evidence submitted?
                            </label>
                            <span class="govuk-error-message" asp-validation-for="HowFailedOnEvidenceSubmitted"></span>
                            <textarea class="govuk-textarea govuk-js-character-count" asp-for="HowFailedOnEvidenceSubmitted"
                                        sfa-validation-for="HowFailedOnEvidenceSubmitted" sfa-validationerror-class="govuk-textarea--error"
                                        rows="5" aria-describedby="HowFailedOnEvidenceSubmitted-info"></textarea>
                        </div>
                        <span id="HowFailedOnEvidenceSubmitted-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 10000 characters
                        </span>
                    </div>
                }

                <p class="govuk-body">
                    If you need to upload any files to support your appeal, you can do so here.
                    Each file must be a pdf and smaller than 5MB. You can upload a maximum of 4 files.
                </p>

                <partial name="_FileUploadsTable.cshtml" for="@Model" />
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" data-disable-on-submit="true" name="FormAction" value="@GroundsOfAppealViewModel.SUBMIT_APPEAL_FORMACTION">
                        Submit your appeal
                    </button>
                    <a id="cancel" class="govuk-link" asp-action="CancelAppeal" asp-controller="RoatpAppeals" asp-route-applicationId="@Model.ApplicationId">Cancel this appeal</a>
                </div>
            </form>
        </div>
    </div>
</main>