@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.Appeals.MakeAppealViewModel

@{
    ViewBag.Title = "Make an appeal";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Application/Navigation/_ApplicationHeaderReadOnly.cshtml" />
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummaryPartial" />
            <h1 class="govuk-heading-l">Make an appeal</h1>
            <p class="govuk-body">
                For this section, you’ll need to explain how the ESFA has failed to either:
                <ul class="govuk-list govuk-list--bullet">
                    <li>follow its own policy or processes</li>
                    <li>understand or recognise the evidence submitted</li>
                </ul>
            </p>
            <p class="govuk-body">
                or both. These are the only 2 grounds for making an appeal.
            </p>
            <p class="govuk-body">
                After you select the ground, or grounds for appeal, you will have up to 10,000 characters to tell the ESFA how they have failed.
            </p>
            <p class="govuk-body">
                You can upload a maximum of 4 files to support your appeal, but the ESFA will not consider any additional information you provide that was not included in your original application.
            </p>

            <form method="post" asp-action="MakeAppeal" asp-controller="RoatpAppeals" novalidate>
                <input type="hidden" asp-for="ApplicationId" />
                <div class="govuk-form-group" sfa-validation-for-list="AppealOnPolicyOrProcesses,AppealOnEvidenceSubmitted" sfa-validationerror-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <h2 class="govuk-heading-m">What are your grounds for appealing?</h2>
                        <span class="govuk-hint">Select all that apply</span>
                        <div class="govuk-form-group">
                            <span class="govuk-error-message" asp-validation-for="AppealOnPolicyOrProcesses"></span>
                            <span class="govuk-error-message" asp-validation-for="AppealOnEvidenceSubmitted"></span>
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" asp-for="AppealOnPolicyOrProcesses" type="checkbox" />
                                    <label class="govuk-label govuk-checkboxes__label" asp-for="AppealOnPolicyOrProcesses">
                                        the ESFA has failed to follow its own policy or processes.
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" asp-for="AppealOnEvidenceSubmitted" type="checkbox" />
                                    <label class="govuk-label govuk-checkboxes__label" asp-for="AppealOnEvidenceSubmitted">
                                        the ESFA has failed to understand or recognise the evidence submitted.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button govuk-!-margin-right-3" data-module="govuk-button" data-disable-on-submit="true">
                    Save and continue
                </button>
                <a id="cancel" class="govuk-link govuk-link--no-visited-state das-inline-button-link" asp-action="Tasklist" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId">Cancel this appeal</a>
            </form>
        </div>
    </div>
</main>