@{
    ViewData["Title"] = "Contact us";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Contact us</h1>
            <p class="govuk-body"><a class="govuk-link" href="mailto:epao.helpdesk@education.gov.uk">epao.helpdesk@education.gov.uk</a></p>
            <p class="govuk-body">
                Telephone 07384 521 167 for questions about apply to the register of end-point assessment organisations.
            </p>
            <p class="govuk-body">
                Monday to Friday 9am to 5pm
            </p>
            <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
        </div>
    </div>
</main>