@{ 
    ViewData["Title"] = "Cookies";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="cookie-settings__confirmation" data-cookie-confirmation="true">
                <section class="das-notice govuk-!-margin-bottom-8" aria-label="Notice" aria-live="polite" role="region">
                    <h2 class="das-notice__title">Your cookie settings were saved</h2>

                    <p class="govuk-body">Other government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
                    <a class="govuk-link das-cookie-settings__prev-page" href="#" data-module="track-click" data-track-category="cookieSettings" data-track-action="Back to previous page">
                        Go back to the page you were looking at
                    </a>
                </section>  
            </div>

            <h1 class="govuk-heading-xl">Cookies on the register of apprenticeship training providers service</h1>

            <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
            <p class="govuk-body">We use cookies to store information about how you use this service, such as the pages you visit.</p>

            <h2 class="govuk-heading-l">Cookie settings</h2>

            <div class="cookie-settings__no-js">
                <p class="govuk-body">We use Javascript to set most of our cookies. Unfortunately Javascript is not running on your browser, so you cannot change your settings. You can try:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>reloading the page</li>
                    <li>turning on Javascript in your browser</li>
                </ul>
            </div>

            
            
            <div class="cookie-settings__form-wrapper">
                <p class="govuk-body">We use 4 types of cookie. You can choose which cookies you're happy for us to use.</p>
                <form data-module="cookie-settings">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="hint-measure-usage">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies that measure website use</legend>
                                
                            <div id="hint-measure-usage" class="govuk-hint govuk-!-margin-bottom-3">
                                <p class="govuk-body govuk-!-margin-top-0">We use Google Analytics to measure how you use the website so we can improve it based on user needs.
                                We do not allow Google to use or share the data about how you use this site.</p>
                                <p class="govuk-body">Google Analytics sets cookies that store anonymised information about:</p>
                                <ul>
                                    <li>how you got to the site</li>
                                    <li>the pages you visit on GOV.UK and government digital services, and how long you spend on each page</li>
                                    <li>what you click on while you're visiting the site</li>
                                </ul>
                            </div>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input type="radio" name="cookies-AnalyticsConsent" id="radio-measure-usage-0" value="on" class="govuk-radios__input">
                                    <label for="radio-measure-usage-0" class="govuk-label govuk-radios__label">
                                    Use cookies that measure my website use
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input type="radio" name="cookies-AnalyticsConsent" id="radio-measure-usage-1" value="off" class="govuk-radios__input">
                                    <label for="radio-measure-usage-1" class="govuk-label govuk-radios__label">
                                    Do not use cookies that measure my website use
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>


                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="hint-cookie-marketing">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies that help with our communications and marketing</legend>

                            <div id="hint-cookie-marketing" class="govuk-hint govuk-!-margin-bottom-3">
                                These cookies may be set by third party websites and do things like measure how you view YouTube videos that are on GOV.UK.
                            </div>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input type="radio" name="cookies-MarketingConsent" id="radio-cookie-marketing-0" value="on" class="govuk-radios__input">
                                    <label for="radio-cookie-marketing-0" class="govuk-label govuk-radios__label">
                                    Use cookies that help with communications and marketing
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input type="radio" name="cookies-MarketingConsent" id="radio-cookie-marketing-1" value="off" class="govuk-radios__input">
                                    <label for="radio-cookie-marketing-1" class="govuk-label govuk-radios__label">
                                    Do not use cookies that help with communications and marketing
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <!-- <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="hint-remember-settings">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies that remember your settings</legend>
                            <div id="hint-remember-settings" class="govuk-hint govuk-!-margin-bottom-3">
                                These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.
                            </div>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input type="radio" name="cookies-settings" id="radio-remember-settings-0" value="on" class="govuk-radios__input">
                                    <label for="radio-remember-settings-0" class="govuk-label govuk-radios__label">
                                        Use cookies that remember my settings on the site
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input type="radio" name="cookies-settings" id="radio-remember-settings-1" value="off" class="govuk-radios__input">
                                    <label for="radio-remember-settings-1" class="govuk-label govuk-radios__label">
                                        Do not use cookies that remember my settings on the site
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div> -->

                    <h2 class="govuk-heading-l">Strictly necessary cookies</h2>
                    <p class="govuk-body">These essential cookies do things like remember your progress through a form (for example a licence application)</p>
                    <p class="govuk-body">They always need to be on.</p>
                    <p class="govuk-body">
                        <a class="govuk-link" href="/Home/CookieDetails" data-module="track-click" data-track-category="cookieSettings" data-track-action="Find out more about cookies">
                        Find out more about cookies on GOV.UK
                        </a>
                    </p>


                    <button class="govuk-button" type="submit">Save changes</button>



                </form>
            </div>




        </div>
    </div>
</main>