
@model SFA.DAS.ApplyService.Web.ViewModels.ErrorViewModel
@{
    ViewBag.Title = "Error";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Sorry, there is a problem with this service</h1>
            <p class="govuk-body">Try again later or email <a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a>.</p>
            <p class="govuk-body"><a href="https://www.gov.uk/" class="govuk-link">Back to GOV.UK</a></p>
        </div>
    </div>
</main>