@{
ViewBag.Title = "Register of apprenticeship training providers service";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Register of apprenticeship training providers service</h1>

            <p class="govuk-body">
                Use this service to join the register of apprenticeship training providers (RoATP) so that you can train apprentices in England.
            </p>
            <p class="govuk-body">
                We'll guide you through the application and you can ask for help on each page. You do not have to complete your application in one go - you can save your details and finish it later.
            </p>
            <p class="govuk-body">
                The Education and Skills Funding Agency (ESFA) will use information:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>in the public domain to support the assessment of application answers</li>
                <li>they already have on your organisation to support the assessment of application questions</li>
                <li>from your application to verify the people in control of your organisation</li>
            </ul>
            <p class="govuk-body">
                ESFA will also check if your organisation is on the:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Register of apprenticeship training providers (RoATP)</li>
                <li>Register of end-point assessment organisations</li>
            </ul>
            <p class="govuk-body">
                You'll need to allow at least 12 weeks for ESFA to assess your application. It may take longer as this is a private beta service - we'll let you know if yours will take longer.
            </p>


            <p class="govuk-body">
                Your organisation can only apply twice in a 12-month period.
            </p>

            <p class="govuk-body">
                Before you make an application, you should understand that your organisation:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>must develop and deliver apprenticeship training in line with <a href="https://www.instituteforapprenticeships.org/quality/what-is-a-quality-apprenticeship/" target="_blank" class="govuk-link">the Institute for Apprenticeships and Technical Education’s ‘quality statement’ (opens in a new window or tab)</a></li>
                <li>will not join the RoATP until it completes all post application tasks - we’ll tell you more about this in the application (not for supporting providers)</li>
                <li>must follow the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/764154/Conditions_of_Acceptance.pdf" target="_blank" class="govuk-link">conditions of acceptance for the RoATP (opens in a new window or tab)</a></li>
            </ul>

            <p class="govuk-body">
                Once your organisation's on the RoATP, it will be:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>listed on the <a href="https://download.apprenticeships.education.gov.uk/" target="_blank" class="govuk-link">register of apprenticeship training providers (opens in a new window or tab)</a></li>
                <li>eligible to receive government funding to train apprentices</li>
            </ul>
            <p class="govuk-body">
                Being on the RoATP does not mean your organisation is recommended by ESFA. It cannot use ESFA as a 'kite-mark' or an award and will not have an identification number for the RoATP.
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">        
            <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-8">
                <a href="@Url.Action("ExistingAccount", "Users" )" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2">
                    Apply now
                </a>
            </div>
        </div>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">What you'll need</h2>
            <p class="govuk-body">
                Make sure your organisation has:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>an apprenticeship service (AS) account (if you do not have one, you can create one when you apply)</li>
                <li>a <a href="https://www.ukrlp.co.uk/" target="_blank" class="govuk-link">UK provider reference number (opens in new window or tab)</a></li>
                <li>an <a href="https://ico.org.uk/registration/new/" target="_blank" class="govuk-link">Information Commissioner's Office registration number (opens in a new window or tab)</a></li>
                <li>a UK business address</li>
            </ul>

            <p class="govuk-body">
                Depending on your organisation and provider route, you may need to know:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>who's in control of your organisation and their dates of birth</li>
                <li>your organisation's financial figures</li>
                <li>if anyone who's in control of your organisation has any unspent criminal convictions</li>
                <li>how your organisation manages its relationship with employers and subcontractors</li>
                <li>who's in your organisations management hierarchy for apprenticeships</li>
                <li>the sectors your organisation will offer apprenticeships in</li>
                <li>how your organisation plans to deliver apprenticeship training</li>
                <li>who will deliver apprenticeship training - including any sector specific experience and qualifications they might have</li>
                <li>how your organisation will evaluate training</li>
            </ul>

            <p class="govuk-body">
                Depending on your organisation and provider route, you may need to upload:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>financial evidence covering either the last 12 months or a 12-month period</li>
                <li>a continuity plan for apprenticeship training</li>
                <li>an equality and diversity policy</li>
                <li>a safeguarding policy</li>
                <li>a Prevent duty policy</li>
                <li>a health and safety policy</li>
                <li>a complaints policy</li>
                <li>a contract for services template with employers</li>
                <li>a commitment statement template</li>
                <li>a policy for professional development of employees</li>
                <li>a copy of your management hierarchy’s expectations for quality and high standards in apprenticeship training</li>
            </ul>

            <p class="govuk-body">
                If you want to know more about becoming an apprenticeship training provider, you can read the following guidance on the Bravo application:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" target="_blank" class="govuk-link">register of apprenticeship training providers (opens in a new window or tab)</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/guidance/becoming-an-apprenticeship-training-provider" target="_blank" class="govuk-link">becoming an apprenticeship training provider (opens in a new window or tab)</a>
                </li>
            </ul>

        </div>
    </div>

</main>