@{
    ViewBag.Title = "Invitation window closed";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">You cannot submit your application</h1>
            <p class="govuk-body">You cannot submit your application as your invitation window has closed.</p>
            <p class="govuk-body">If you have any questions, contact us at: <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a>. 
            </p>
            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk">Go to GOV.UK</a>
            </p>
        </div>
    </div>
</main>