@{ 
    ViewData["Title"] = "Privacy";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- <h1 class="govuk-heading-xl">Privacy notice</h1>
            <p class="govuk-body">The Education and Skills Funding Agency (ESFA) runs this service. We handle the information you give us according to the <a class="govuk-link" href="https://www.gov.uk/government/publications/esfa-privacy-notice">ESFA privacy notice</a>.</p> -->

            <h1 id="h1header" class="govuk-heading-xl">Privacy and cookies</h1>

            <section class="govuk-section-break govuk-section-break--xl">
                <h2 class="govuk-heading-m">How we use your personal information</h2>
                <p class="govuk-body">
                    The Find an apprenticeship service is delivered by the Education and Skills Funding Agency (ESFA), 
                    an executive agency of the Department for Education (DfE).  
                    This privacy notice explains how we use your personal information.  
                    For the purposes of relevant data protection legislation, the DfE is the data controller for personal information processed.  
                    For more detailed information on how we handle your personal information see the <a class="govuk-link" href="https://www.gov.uk/government/publications/esfa-privacy-notice">ESFA: privacy notice</a>.
                </p>
                <p class="govuk-body">
                    We use your personal information so the DfE can carry out its functions.
                </p>
                <p class="govuk-body">When you register on the service, the personal information you give us will be used:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>so you can apply for an apprenticeship or traineeship</li>
                    <li>to match you to apprenticeships/traineeships</li>
                    <li>to help provide career support through the National Careers Service</li>
                    <li>for administration and research purposes</li>
                </ul>
            </section>

            <section class="govuk-section-break govuk-section-break--xl">
                <h2 class="govuk-heading-m">How long we hold your data</h2>
                <p class="govuk-body">You need to activate your account within 30 days of registering, 
                    after which we will retain your data for these purposes for 12 months after you have stopped using this service.  
                    If you haven’t activated your account within 30 days of registering or signed in to your account for 12 months, 
                    we’ll securely delete your account and remove your personal details. You’ll need to register again to use the service.
                </p>
                <p class="govuk-body">
                    You can also ask for your account to be deleted by signing in to your account and using the online form at:
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="https://www.findapprenticeship.service.gov.uk/helpdesk">https://www.findapprenticeship.service.gov.uk/helpdesk</a>
                </p>
            </section>

            <section class="govuk-section-break govuk-section-break--xl">
                <h2 class="govuk-heading-m">Who we share your personal information with</h2>
                <p class="govuk-body">
                    To enable the delivery of the Find an apprenticeship service, 
                    your application for an apprenticeship or traineeship may be shared with a relevant training organisation and employer.  
                    You may be contacted as part of the application process by these organisations.
                </p>
            </section>

            <section class="govuk-section-break govuk-section-break--xl">
                <h2 class="govuk-heading-m">Your individual rights</h2>
                <p class="govuk-body">
                    The law gives you certain rights with regards to your data, including:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>request a copy of any personal information that Find an apprenticeship service holds on you.</li>
                        <li>question any information we have about you that you think is wrong or incomplete.  You can contact us and ask for personal information to be corrected.</li>
                        <li>ask for your account to be deleted.</li>
                    </ul>
                    <p class="govuk-body">You can request any of the above by signing in to your account and using the online form at:</p>
                    <p class="govuk-body">
                        <a class="govuk-link" href="https://www.findapprenticeship.service.gov.uk/helpdesk">https://www.findapprenticeship.service.gov.uk/helpdesk</a>
                    </p>
            </section>

            <section class="govuk-section-break govuk-section-break--xl">
                <h2 class="govuk-heading-m">How to complain</h2>
                <p class="govuk-body">
                    Please let us know if you are unhappy with how we have used your personal information.
                    You can contact us using our <a class="govuk-link" href="https://www.education.gov.uk/contactus/efa">secure online contact form</a> or by writing to:

                </p>
                <p class="govuk-body">
                    Ministerial and Public Communications Division<br />
                    Department for Education<br />
                    Piccadilly Gate<br />
                    Store Street<br />
                    Manchester<br />
                    M1 2WD
                </p>

                <p class="govuk-body"></p>
                <p class="govuk-body">
                    If you wish to contact the DfE’s data protection officer, please use the secure online form or write to the address above.
                </p> 
                <p class="govuk-body">
                    You also have the right to complain to the Information Commissioner’s Office. Find out on their website how to <a class="govuk-link" href="https://ico.org.uk/concerns/">report a concern</a>.
                </p> 
            </section>

        </div>
    </div>
</main>