@{
    ViewBag.Title = "Service unavailable";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Sorry, this service is unavailable</h1>
            <p class="govuk-body">Try again later.</p>
            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk">Back to GOV.UK</a>
            </p>
        </div>
    </div>
</main>