@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ConfirmDirectorsPscsViewModel

@{ await Html.RenderPartialAsync("~/Views/Roatp/ApplicationHeader.cshtml"); }


<div class="grid-row">
    <a class="govuk-back-link" href="@Url.Action("TaskList", "RoatpApplication", new { Model.ApplicationId })">Back</a>
</div>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">@Model.SectionTitle</span>
            <h1 class="govuk-heading-l">Confirm who's in control</h1>
            <p class="govuk-body">These are the details we found on Companies House</p>

            <form method="post" asp-action="DirectorsPscsConfirmed" novalidate enctype="multipart/form-data">

                @Html.HiddenFor(x => x.ApplicationId)
                @Html.HiddenFor(x => x.GetHelpAction)

                @{ await Html.RenderPartialAsync("~/Views/Roatp/WhosInControl/PeopleInControl.cshtml", Model.CompaniesHouseDirectors); }

                @{ await Html.RenderPartialAsync("~/Views/Roatp/WhosInControl/PeopleInControl.cshtml", Model.CompaniesHousePscs); }

                <button type="submit" class="govuk-button">Confirm and continue</button>

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What if these details are wrong?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            Contact Companies House to <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" target="_blank">change these details (opens in a new window or tab)</a>.
                        </p>
                        <p class="govuk-body">
                            After your changes have been confirmed, sign back in to continue with this application.
                        </p>
                    </div>
                </details>

            </form>
        </div>
    </div>
</main>
<partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />