@{
    ViewBag.Title = $"An application has been submitted by you for a different UKPRN";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
            <p class="govuk-body">
                This UKPRN is not available      </p>

        </div>
    </div>
</main>