@{
    ViewBag.Title = $"You have submitted an application for a different UKPRN";
    Layout = "_Layout";
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
            <p class="govuk-body">
                You must use the UKPRN from your existing application in order to continue.
            </p>
            <p class="govuk-body">
                If you think this is wrong, email <br />
                <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a> or call 08000 150 600.
            </p>
        </div>
    </div>
</main>