@{
    ViewBag.Title = "Your organisation is not eligible to apply to join the RoATP";
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/PreambleHeader.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Your organisation is not eligible to apply to join the RoATP</h1>
            <p class="govuk-body">This is because your organisation has submitted 2 applications to join the RoATP in the last 12 months.</p>
            <p class="govuk-body">You can try again once it has been more than 12 months since you submitted an application. This does not include withdrawn or rejected applications.</p>
            <p class="govuk-body"><a href="https://www.gov.uk" class="govuk-link">Back to GOV.UK</a></p>
        </div>
    </div>
</main>