@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ExistingAccountViewModel

@{
    ViewBag.Title = "Do you have an apprenticeship service (AS) sign in account?";
}

@section Navigation
{
    @* Do not show any header on this page! *@
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummaryPartial" />

            <form method="post" asp-action="ConfirmExistingAccount" novalidate asp-controller="Users">

                <div class="govuk-form-group" sfa-validation-for="FirstTimeSignin" sfa-validationerror-class="govuk-form-group--error">

                    <span class="govuk-error-message" asp-validation-for="FirstTimeSignin"></span>

                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                         Do you have an apprenticeship service (AS) sign in account?
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input asp-for="FirstTimeSignin"
                                       class="govuk-radios__input"
                                       id="FirstTimeSignin"
                                       name="FirstTimeSignin"
                                       type="radio"
                                       value="@bool.FalseString"
                                       sfa-validation-for="FirstTimeSignin"
                                       sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="FirstTimeSignin">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="FirstTimeSignin"
                                       class="govuk-radios__input"
                                       id="FirstTimeSignin-Yes"
                                       name="FirstTimeSignin"
                                       type="radio"
                                       value="@bool.TrueString"
                                       sfa-validation-for="FirstTimeSignin"
                                       sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="FirstTimeSignin-Yes">
                                    No - I need to create one
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>