@using MoreLinq;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ExistingAccountViewModel

@{
    ViewBag.Title = "Do you have an apprenticeship service (AS) sign in account?";
    var showErrors = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0;
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var errorMessage in Model.ErrorMessages.DistinctBy(x => x.ErrorMessage))
                            {
                                <li><a href="#@errorMessage.Field">@errorMessage.ErrorMessage</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-xl">Do you have an apprenticeship service (AS) sign in account?</h1>

        </div>
    </div>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" asp-action="ConfirmExistingAccount">

                <div class="govuk-form-group @(showErrors ? "govuk-form-group--error" : "")" sfa-validation-for="FirstTimeSignin">
                    @if (showErrors)
                    {
                        <span class="govuk-error-message">
                            @Html.Raw(Model.ErrorMessages.FirstOrDefault(x => x.Field == "FirstTimeSignin")?.ErrorMessage)
                        </span>
                    }
                    <fieldset class="govuk-fieldset">

                        <div class="govuk-radios">

                            <div class="govuk-radios__item">
                                <input asp-for="FirstTimeSignin" class="govuk-radios__input" id="FirstTimeSignin-No"
                                       name="FirstTimeSignin" type="radio" value="N"
                                       sfa-validation-for="FirstTimeSignin" sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="FirstTimeSignin-No">
                                    Yes
                                </label>

                            </div>

                            <div class="govuk-radios__item">
                                <input asp-for="FirstTimeSignin" class="govuk-radios__input" id="FirstTimeSignin-Yes"
                                       name="FirstTimeSignin" type="radio" value="Y"
                                       sfa-validation-for="FirstTimeSignin" sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="FirstTimeSignin-Yes">
                                    No - I need to create one
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <input type="submit" class="govuk-button" value="Continue" />
            </form>
        </div>
    </div>
</main>