@{
    ViewBag.Title = "Your account is not available yet";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">There is a problem</h1>
            <p class="govuk-body">
                Your account is not available yet.
            </p>
            <p class="govuk-body">
                <a asp-action="Index" asp-controller="Home" class="govuk-link">Return to the start page</a>
            </p>
        </div>
    </div>
</main>
