
@{
    ViewBag.Title = "title";
}

<h1>Whoah there!</h1>
<h2>Your account is not _quite_ set up yet, click here to try again.</h2>
<a href="@Url.Action("SignIn", "Users" )" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2">
    Sign in
</a>