
@{
    ViewBag.Title = "title";
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">There is a problem</h1>
            <p class="govuk-body">
                Your DfE account is not available yet; <a asp-action="Index" asp-controller="Home" class="govuk-link">return to the home page</a> and try again.
        </div>
    </div>
</main>
