
@{
ViewBag.Title = "Signed out";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">You are now signed out</h1>
            <p class="govuk-body">You can <a asp-action="Index" asp-controller="Home" class="govuk-link">return to the homepage</a> or <a asp-action="SignIn" asp-controller="Users" class="govuk-link">sign in again.</a></p>
        </div>
    </div>
</main>