@using SFA.DAS.ApplyService.Web.ViewModels
@model SFA.DAS.ApplyService.Web.ViewModels.StandardViewModel

@{
    ViewBag.Title = "Standard Results";
    Layout = "_Layout";
}

<a href="/standard/@Model.ApplicationId" class="govuk-back-link">Return to standards search</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Confirm you want to offer the standard: @Model.SelectedStandard?.Title
                <span class="govuk-caption-xl">Standard Code: @Model.SelectedStandard?.StandardId</span>
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">Once you confirm you will be able to view the assessment plan for @Model.SelectedStandard?.Title and start the required application process.</p>
            <button class="govuk-button">Confirm and apply</button>
        </div>
    </div>
   

</main>
