@using SFA.DAS.ApplyService.Web.ViewModels
@model SFA.DAS.ApplyService.Web.ViewModels.StandardViewModel

@{
    ViewBag.Title = "Standard Results";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a href="/standard/@Model.ApplicationId" class="link-back">Return to standards search</a>
        <h1 class="heading-xlarge">
            <span>Confirm you want @Model.SelectedStandard?.Title </span>
            <span class="heading-secondary">Standard Code: @Model.SelectedStandard?.StandardId</span>
        </h1>
        
        <div>Effective From:  @Model.SelectedStandard?.StandardData?.EffectiveFrom</div>
            <div>Effective To: @Model.SelectedStandard?.StandardData?.EffectiveTo</div>
    </div>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">


        <div class="grid-row">
            <div class="column-full">
                <div class="form-group">
                 comfirmation page for standard, needs an OK button
                </div>
            </div>
        </div>
   

</main>
