@model SFA.DAS.ApplyService.Web.ViewModels.OrganisationSearchViewModel

@{
    ViewBag.Title = "Company not active";
    Layout = "_Layout";
}

<a asp-action="Results" asp-controller="OrganisationSearch" asp-route-searchString="@Model.SearchString" class="govuk-back-link">Back to search results</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <div class="govuk-form-group">
                <h1 class="govuk-heading-xl">Are you sure?</h1>

                <h2 class="govuk-heading-l">@(Model.Name)</h2>

                <p class="govuk-body">This company is no longer active.</p>

                <p class="govuk-body">You must select an active company.</p>

            </div>

            <p class="govuk-body">
                <a class="govuk-link" asp-action="Results" asp-controller="OrganisationSearch" asp-route-searchString="@Model.SearchString">Back to search results</a>
            </p>
        </div>
    </div>
</main>