@model SFA.DAS.ApplyService.Web.ViewModels.OrganisationSearchViewModel

@{
    ViewBag.Title = "Done";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <p>Done</p>
    </div>
</div>