@model SFA.DAS.ApplyService.Web.ViewModels.OrganisationSearchViewModel

@{
    ViewBag.Title = "Organisation search";
    Layout = "_Layout";

    bool showErrors = TempData["ShowErrors"] as bool? ?? false;
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" asp-action="Results" asp-controller="OrganisationSearch" novalidate>
                @if (!ViewData.ModelState.IsValid || showErrors)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a href="#SearchString">Enter some text to identify your organisation</a></li>
                            </ul>
                        </div>
                    </div>
                }

                @{
                    var groupError = !ViewData.ModelState.IsValid || showErrors ? "govuk-form-group--error" : "";
                }

                <div class="govuk-form-group @groupError">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" for="SearchString">
                            Search for your organisation
                        </label>
                    </h1>
                    <p class="govuk-body">Search using either the:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>organisation name</li>
                        <li>UK provider reference number (UKPRN)</li>
                        <li>end point assessor organisation identification number (EPAO ID)</li>
                        <li>company number</li>
                        <li>charity number</li>
                    </ul>
                    <span id="search-string-hint" class="govuk-hint">
                        A UKPRN consists of 8 numbers.<br />An EPAO ID consists of 3 letters and 4 numbers.
                    </span>
                    @if (!ViewData.ModelState.IsValid || showErrors)
                    {
                        <span id="search-string-error" class="govuk-error-message">
                            Enter some text to identify your organisation
                        </span>
                    }
                    <input class="govuk-input govuk-input--width-20" asp-for="SearchString" minlength="2" required />
                </div>
                <button type="submit" class="govuk-button">Search</button>
            </form>
        </div>
    </div>
</main>
