@model SFA.DAS.ApplyService.Web.ViewModels.OrganisationSearchViewModel

@{
    ViewBag.Title = "Organisation search";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" asp-action="Results" asp-controller="OrganisationSearch" novalidate>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                            There's a problem
                        </h2>
                        <ul class="error-summary-list">
                            <li><a sfa-validation-for="SearchString">Please enter a search string</a></li>
                        </ul>
                    </div>
                }

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--xl" for="SearchString">
                                Search for your organisation
                            </label>
                        </h1>
                        <p class="govuk-body">Search using either the:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>organisation name</li>
                            <li>UK provider reference number (UKPRN)</li>
                            <li>end point assessor organisation id</li>
                        </ul>
                        <span id="search-string-hint" class="govuk-hint">
                            A UKPRN consists of 8 numbers.<br />An end point assessor organisation id consists of 3 letters and 4 numbers.
                        </span>
                        <input class="govuk-input govuk-input--width-20" asp-for="SearchString" minlength="2" required />
                    </div>
                <button type="submit" class="govuk-button">Search</button>
            </form>
        </div>
    </div>

</main>
