USE [SFA.DAS.ApplyService]
GO
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-1-1';
INSERT INTO Assets
  (Id, Reference, Type, Text, Status, CreatedAt, CreatedBy)
VALUES
  (NEWID(), 'SQ-1-SE-1-PG-1-1', '', 'Trading name', 'Live', GETUTCDATE(), 'Import')
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-1-2';
INSERT INTO Assets
  (Id, Reference, Type, Text, Status, CreatedAt, CreatedBy)
VALUES
  (NEWID(), 'SQ-1-SE-1-PG-1-2', '', '', 'Live', GETUTCDATE(), 'Import')
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-1-3';
INSERT INTO Assets
  (Id, Reference, Type, Text, Status, CreatedAt, CreatedBy)
VALUES
  (NEWID(), 'SQ-1-SE-1-PG-1-3', '', '', 'Live', GETUTCDATE(), 'Import')
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-1-4';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-1-CD-30-5';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-1-CD-30-6';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-1-CD-30-7';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-1-CD-30-8';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-9';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-10';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-11';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-12';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-CD-01-13';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-CD-01-14';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-CD-01-15';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-CD-01-16';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-CD-01.1-17';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-CD-01.1-18';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-CD-01.1-19';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-2-CD-01.1-20';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-21';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-22';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-23';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-24';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-02-25';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-02-26';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-02-27';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-02-28';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-03-29';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-03-30';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-03-31';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-03-32';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-04-33';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-04-34';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-04-35';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-04-36';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-05-37';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-05-38';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-05-39';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-05-40';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-06-41';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-06-42';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-06-43';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-3-CD-06-44';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-45';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-46';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-47';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-48';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-07-49';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-07-50';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-07-51';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-07-52';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-08-53';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-08-54';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-08-55';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-08-56';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-09-57';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-09-58';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-09-59';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-09-60';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-10-61';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-10-62';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-10-63';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-10-64';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-11-65';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-11-66';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-11-67';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-4-CD-11-68';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-69';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-70';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-71';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-72';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-CD-12-73';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-CD-12-74';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-CD-12-75';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-CD-12-76';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-CD-12.1-77';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-CD-12.1-78';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-CD-12.1-79';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-5-CD-12.1-80';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-81';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-82';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-83';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-84';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-13-85';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-13-86';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-13-87';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-13-88';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-14-89';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-14-90';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-14-91';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-14-92';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-14.1-93';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-14.1-94';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-14.1-95';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-6-CD-14.1-96';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-97';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-98';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-99';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-100';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-CD-15-101';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-CD-15-102';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-CD-15-103';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-CD-15-104';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-CD-15.1-105';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-CD-15.1-106';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-CD-15.1-107';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-7-CD-15.1-108';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-109';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-110';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-111';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-112';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-CD-16-113';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-CD-16-114';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-CD-16-115';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-CD-16-116';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-CD-16.1-117';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-CD-16.1-118';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-CD-16.1-119';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-8-CD-16.1-120';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-121';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-122';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-123';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-124';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-CD-17-125';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-CD-17-126';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-CD-17-127';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-CD-17-128';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-CD-17.1-129';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-CD-17.1-130';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-CD-17.1-131';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-9-CD-17.1-132';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-133';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-134';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-135';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-136';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18-137';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18-138';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18-139';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18-140';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18.1-141';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18.1-142';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18.1-143';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18.1-144';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18.2-145';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18.2-146';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18.2-147';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-10-CD-18.2-148';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-149';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-150';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-151';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-152';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-19-153';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-19-154';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-19-155';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-19-156';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-20-157';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-20-158';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-20-159';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-20-160';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-21-161';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-21-162';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-21-163';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-11-CD-21-164';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-12-165';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-12-166';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-12-167';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-12-168';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-12-CD-22-169';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-12-CD-22-170';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-12-CD-22-171';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-12-CD-22-172';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-173';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-174';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-175';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-176';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-23-177';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-23-178';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-23-179';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-23-180';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-24-181';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-24-182';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-24-183';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-24-184';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-25-185';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-25-186';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-25-187';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-13-CD-25-188';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-189';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-190';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-191';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-192';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-CD-26-193';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-CD-26-194';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-CD-26-195';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-CD-26-196';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-CD-26.1-197';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-CD-26.1-198';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-CD-26.1-199';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-14-CD-26.1-200';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-201';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-202';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-203';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-204';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-CD-27-205';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-CD-27-206';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-CD-27-207';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-CD-27-208';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-CD-27.1-209';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-CD-27.1-210';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-CD-27.1-211';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-1-PG-15-CD-27.1-212';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-213';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-214';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-215';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-216';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-W_DEL-01-217';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-W_DEL-01-218';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-W_DEL-01-219';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-W_DEL-01-220';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-W_DEL-02-221';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-W_DEL-02-222';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-W_DEL-02-223';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-15-W_DEL-02-224';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-17-225';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-17-226';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-17-227';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-17-228';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-17-W_DEL-03-229';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-17-W_DEL-03-230';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-17-W_DEL-03-231';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-17-W_DEL-03-232';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-233';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-234';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-235';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-236';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-W_DEL-04-237';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-W_DEL-04-238';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-W_DEL-04-239';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-W_DEL-04-240';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-W_DEL-04.1-241';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-W_DEL-04.1-242';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-W_DEL-04.1-243';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-18-W_DEL-04.1-244';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-245';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-246';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-247';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-248';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-05-249';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-05-250';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-05-251';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-05-252';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-06-253';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-06-254';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-06-255';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-06-256';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-07-257';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-07-258';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-07-259';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-07-260';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-08-261';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-08-262';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-08-263';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-08-264';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-09-265';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-09-266';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-09-267';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-09-268';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-10-269';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-10-270';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-10-271';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-10-272';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-11-273';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-11-274';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-11-275';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-11-276';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-12-277';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-12-278';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-12-279';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-19-M_DEL-12-280';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-281';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-282';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-283';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-284';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-13-285';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-13-286';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-13-287';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-13-288';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-13.1-289';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-13.1-290';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-13.1-291';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-13.1-292';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-14-293';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-14-294';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-14-295';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20-D_DEL-14-296';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-297';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-298';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-299';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-300';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-301';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-302';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-303';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-304';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-305';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-306';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-307';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-308';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-309';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-310';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-311';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-312';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-313';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-314';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-315';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-20.1-D_DEL-13-1-316';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-317';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-318';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-319';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-320';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-21-321';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-21-322';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-21-323';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-21-324';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-21.1-325';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-21.1-326';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-21.1-327';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-21.1-328';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-22-329';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-22-330';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-22-331';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-22-332';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-22.1-333';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-22.1-334';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-22.1-335';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-22.1-336';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-23-337';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-23-338';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-23-339';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-23-340';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-23.1-341';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-23.1-342';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-23.1-343';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-23.1-344';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-24-345';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-24-346';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-24-347';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-24-348';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-24.1-349';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-24.1-350';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-24.1-351';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-24.1-352';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25-353';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25-354';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25-355';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25-356';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.1-357';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.1-358';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.1-359';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.1-360';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.2-361';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.2-362';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.2-363';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.2-364';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.3-365';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.3-366';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.3-367';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-25.3-368';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26-369';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26-370';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26-371';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26-372';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26.1-373';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26.1-374';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26.1-375';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26.1-376';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26.2-377';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26.2-378';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26.2-379';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-26.2-380';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27-381';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27-382';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27-383';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27-384';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27.1-385';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27.1-386';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27.1-387';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27.1-388';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27.2-389';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27.2-390';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27.2-391';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-27.2-392';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-28-393';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-28-394';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-28-395';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-28-396';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-28.1-397';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-28.1-398';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-28.1-399';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-28.1-400';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-29-401';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-29-402';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-29-403';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-29-404';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-29.1-405';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-29.1-406';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-29.1-407';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-29.1-408';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30-409';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30-410';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30-411';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30-412';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.1-413';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.1-414';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.1-415';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.1-416';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.2-417';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.2-418';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.2-419';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.2-420';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.3-421';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.3-422';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.3-423';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-21-A_DEL-30.3-424';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-425';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-426';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-427';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-428';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-28-429';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-28-430';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-28-431';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-28-432';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-29-433';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-29-434';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-29-435';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-29-436';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-30-437';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-30-438';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-30-439';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-2-PG-22-A_DEL-30-440';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-441';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-442';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-443';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-444';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-FHA-01-445';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-FHA-01-446';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-FHA-01-447';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-FHA-01-448';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-FHA-02-449';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-FHA-02-450';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-FHA-02-451';
DELETE FROM Assets WHERE Reference = 'SQ-1-SE-3-PG-23-FHA-02-452';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-T-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-LT-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-CC-03-L-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-CC-07-L-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-CC-03-SL-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-CC-07-SL-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-CC-03-QB-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-CC-03-H-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-CC-07-QB-1';
DELETE FROM Assets WHERE Reference = 'SQ-2-SE-4-PG-24-CC-07-H-1';
GO
INSERT [dbo].[Workflows]
  ([Id], [Description], [Version], [Type], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy])
VALUES
  (N'83b35024-8aef-440d-8f59-8c1cc459c350', N'Epao Workflow', N'1', N'EPAO', N'Live', CAST(N'2018-12-12T14:41:46.0600000' AS DateTime2), N'Import', NULL, NULL, NULL, NULL)
GO
if not exists (select *
from workflowsections
where id = 'b4951ead-ee4a-49f2-a31e-3a658605e32a')
INSERT [dbo].[WorkflowSections]
  ([Id], [WorkflowId], [SequenceId], [SectionId], [QnAData], [Title], [LinkTitle], [Status], [DisplayType], [DisallowedOrgTypes])
VALUES
  (N'b4951ead-ee4a-49f2-a31e-3a658605e32a', N'83b35024-8aef-440d-8f59-8c1cc459c350', 2, 4, N'
{
    "Pages": [
      {
        "PageId": "24",
        "SequenceId": "2",
        "SectionId": "4",
        "Title": "SQ-2-SE-4-PG-24-T-1",
        "LinkTitle": "SQ-2-SE-4-PG-24-LT-1",
        "InfoText": "SQ-2-SE-4-PG-24-IT-1",
        "Questions": [
          {
            "QuestionId": "CC-03",
            "Label": "SQ-2-SE-4-PG-24-CC-03-L-1",
            "ShortLabel": "SQ-2-SE-4-PG-24-CC-03-SL-1",
            "QuestionBodyText": "SQ-2-SE-4-PG-24-CC-03-QB-1",
            "Hint": "SQ-2-SE-4-PG-24-CC-03-H-1",
            "Input": {
              "Type": "FileUpload",
              "Options": null,
              "Validations": [
                {
                  "Name": "Required",
                  "Value": null,
                  "ErrorMessage": "Upload a file"
                }
              ]
            },
            "Order": null
          },
          {
            "QuestionId": "CC-07",
            "Label": "SQ-2-SE-4-PG-24-CC-07-L-1",
            "ShortLabel": "SQ-2-SE-4-PG-24-CC-07-SL-1",
            "QuestionBodyText": "SQ-2-SE-4-PG-24-CC-07-QB-1",
            "Hint": "SQ-2-SE-4-PG-24-CC-07-H-1",
            "Input": {
              "Type": "FileUpload",
              "Options": null,
              "Validations": [
              ]
            },
            "Order": null
          }
        ],
        "PageOfAnswers": [],
        "Next": [
          {
            "Action": "ReturnToSection",
            "ReturnId": "4",
            "Condition": null,
            "ConditionMet": false
          }
        ],
        "Complete": false,
        "AllowMultipleAnswers": false,
        "Order": null,
        "Active": true,
        "Visible": true,
        "Feedback": null,
        "HasFeedback": false,
        "BodyText": "NP"
      }
    ],
    "FinancialApplicationGrade": null
  }  
', N'Capacity & Capability', N'Capacity & Capability', N'Draft', N'Pages', N'')
GO
INSERT [dbo].[WorkflowSequences]
  ([Id], [WorkflowId], [SequenceId], [Status], [IsActive])
VALUES
  (N'bde3cf18-b1a8-4b4b-8cdc-a26dd6e418bd', N'83b35024-8aef-440d-8f59-8c1cc459c350', 1, N'Draft', 1)
GO
INSERT [dbo].[WorkflowSequences]
  ([Id], [WorkflowId], [SequenceId], [Status], [IsActive])
VALUES
  (N'981325d9-c7a4-43d5-8ece-75fef3b080f5', N'83b35024-8aef-440d-8f59-8c1cc459c350', 2, N'Draft', 0)
GO
