@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.AddEditManagementHierarchyViewModel

@{
    ViewBag.Title = "Who is in your organisation's management hierarchy for apprenticeships?";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Application/Navigation/_ApplicationHeader.cshtml" />
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummary" />
            <span class="govuk-caption-l">@Model.SectionTitle</span>
            <h1 class="govuk-heading-xl">Who is in your organisation's management hierarchy for apprenticeships?</h1>
            <p class="govuk-body">
                If there are more people, you can add them later.
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" asp-action="AddManagementHierarchyDetails" novalidate>
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="Identifier" />
                <input type="hidden" asp-for="GetHelpAction" />

                <partial name="~/Views/Roatp/ManagementHierarchy/AddEditManagementHierarchy.cshtml" for="@Model" />

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Your organisation's management hierarchy
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            Your organisation's management hierarchy includes:
                            <br/><br/>
                            Shadow directors and any person who is a member of the administrative management or supervisory body of the provider or who has powers of representation, decision, influence, management or control of the provider organisation including through a blind trust, a connected party, a partner organisation or a parent organisation.
                        </p>
                    </div>
                </details>

                <button class="govuk-button govuk-!-margin-right-3" data-module="govuk-button" data-disable-on-submit="true">
                    Confirm and continue
                </button>

                <a class="govuk-link das-inline-button-link govuk-link--no-visited-state" asp-action="Tasklist" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId">Return to this question later</a>
            </form>
            <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
        </div>
    </div>
</main>