@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ConfirmRemoveManagementHierarchyViewModel

@{
    ViewBag.Title = $"Are you sure you want to remove {Model.Name}?";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Application/Navigation/_ApplicationHeader.cshtml" />
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummaryPartial" />
            <span class="govuk-caption-l">@Model.SectionTitle</span>
            <h1 class="govuk-heading-xl">Are you sure you want to remove @Model.Name</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" asp-action="@Model.ActionName" novalidate>
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="Index" />
                <input type="hidden" asp-for="Name" />
                <input type="hidden" asp-for="BackAction" />
                <input type="hidden" asp-for="GetHelpAction" />

                <div class="govuk-form-group" sfa-validation-for="Confirmation" sfa-validationerror-class="govuk-form-group--error">
                    <span class="govuk-error-message" asp-validation-for="Confirmation"></span>
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       asp-for="Confirmation"
                                       type="radio"
                                       value="Yes" />
                                <label class="govuk-label govuk-radios__label" asp-for="Confirmation">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       asp-for="Confirmation"
                                       id="Confirmation-No"
                                       type="radio"
                                       value="No" />
                                <label class="govuk-label govuk-radios__label" for="Confirmation-No">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button govuk-!-margin-right-3" data-module="govuk-button" data-disable-on-submit="true">
                    Confirm and continue
                </button>
                <a class="govuk-link das-inline-button-link govuk-link--no-visited-state" asp-action="ConfirmManagementHierarchy" asp-controller="RoatpManagementHierarchy" asp-route-applicationId="@Model.ApplicationId">Return to this question later</a>
            </form>
            <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
        </div>
    </div>
</main>