@model List<SFA.DAS.ApplyService.Domain.Apply.TabularData>

@if (Model != null && Model.Count > 0)
{
    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Who's in control
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">These are the people you confirmed as being in control of your organisation.</p>
            @foreach (var tableData in Model)
            {
                if (tableData.HeadingTitles != null && tableData.DataRows != null)
                {
                    <table class="govuk-table">
                        @if (tableData.Caption != null)
                        {
                            <caption class="govuk-table__caption">
                                @tableData.Caption
                            </caption>
                        }
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                @foreach (var title in tableData.HeadingTitles)
                                {
                                    <th class="govuk-table__header" scope="col">@Html.Raw(title)</th>
                                }
                            </tr>
                        </thead>
                        <tbody class="govuk-table_body">
                            @foreach (var dataRow in tableData.DataRows)
                            {
                                <tr class="govuk-table__row">
                                    @foreach (var column in dataRow.Columns)
                                    {
                                        <td class="govuk-table__cell">@column</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
        <div class="govuk-details__text">
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">People in control of your organisation include:</span></p>
            <p class="govuk-body">Directors, shadow directors, trustees or any person who is a member of the administrative management or supervisory body of the provider or who has powers of representation, decision, influence, management or control of the provider organisation including through a blind trust, a connected party, a partner organisation or a parent organisation.</p>
            <p class="govuk-body">Shadow Director: A shadow director is a person, although not officially appointed to the Board of Directors, who controls or influences the management of the company and in accordance with whose directions or instructions the directors of a company are accustomed to act.</p>
            <p class="govuk-body">Blind Trust: A blind trust is a trust in which the trust beneficiaries have no knowledge of the holdings of the trust, and no right to intervene in their handling. In a blind trust, the trustees (fiduciaries, or those who have been given power of attorney) have full discretion over the assets. Blind trusts might be used where the trust creator wishes for the ESFA to be unaware of the persons in a position of influence/control.</p>
            <p class="govuk-body">Connected Party: A connected party is persons who deal with each other otherwise than at arm's length. Examples include members of the same family, companies within the same group, trusts and trustees, companies and their shareholders, partners and their families.</p>
            <p class="govuk-body">Persons are considered connected with the provider or its directors or its persons discharging managerial positions if they are a member of the director's family. A company is connected with a director if the director (and persons connected to them) is interested in 20% or more of the equity share capital of the company or can exercise more than 20% of the voting power.</p>
        </div>
    </details>
}