@using SFA.DAS.ApplyService.Configuration
@inject IConfigurationService Config
@{
    var config = await Config.GetConfig();
}
<nav class="das-user-navigation" id="das-user-navigation">
    <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation" role="navigation">
        <li class="roatp__navigation-item">
            <a class="govuk-link govuk-link--no-visited-state" asp-action="TaskList" asp-controller="RoatpApplication"
                asp-route-applicationId="@Model.ApplicationId">Application overview</a>
        </li>
        @if (config is { UseGovSignIn: true })
        {
            <li role="menuitem" class="roatp__navigation-item das-user-navigation__list-item--has-sub-menu">
                <a href="/" class="govuk-link govuk-link--no-visited-state">Settings</a>
                <ul role="menu" class="das-user-navigation__sub-menu js-hidden" aria-expanded="false">
                    <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                        <a asp-action="ChangeSignInDetails" asp-controller="Users"
                            class="das-user-navigation__sub-menu-link">Change your sign-in details</a>
                    </li>
                </ul>
            </li>
        }
        <li class="roatp__navigation-item roatp__navigation-item--signout">
            <a class="govuk-link govuk-link--no-visited-state" asp-action="SignOut" asp-controller="Users">Sign out</a>
        </li>
    </ul>
</nav>
